body{
    background-color: rgb(16, 16, 43);
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
    grid-template-rows: 100px 200px 100px;
    grid-template-columns: 40% 1fr 40%;
    grid-gap: 30px;
    height: 100vh;
    margin: 0;
}

#head {
    grid-area: header;
}
#foot {
    grid-area: footer;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;

}
#main { 
    grid-area: main;  
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}
#nav { 
    grid-area: nav; 
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

a{
    color: white;
}

#nav p{
    color: white;
    text-align: center;
}

.tablet{
  height: 20vw;
  width: 20vw;
  
}

.tablet:hover{
    animation-name: animaciok;
    animation-duration: 0.5s;
    
}

.telefon{
    height: 20vw;
    width: 20vw;
}

.telefon:hover{
  
    animation-name: animaciok;
    animation-duration: 0.5s;
}

.logo{
    height: 10vw;
    width: 15vw;
}
.logo:hover{
    animation-name: animaciok;
    animation-duration: 0.5s;
}
h1{
    text-align: center;
    color: white;
}
h2{
    text-align: center;
    color: white;
}

#head p{
    text-align: center;
}

.tabletek{
    height: 30vw;
    width: 25vw;
}
.tabletek:hover{
    animation-name: animaciok;
    animation-duration: 0.5s;
}


@-webkit-keyframes animaciok{
    0%{transform: scale(1);}
    100%{transform: scale(1.1);}
}

.telefonok{
    height: 30vw;
    width: 25vw;
}

.telefonok:hover{
    animation-name: animaciok;
    animation-duration: 0.5s;
}